##If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [2]:
sum = 0
for i in range(1000) :
  if i % 3 == 0 or i % 5 == 0 :
    sum += i

sum

233168

##Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
toplam = 0
fib = []
a = 1
b = 0
c = 0
while c < 4000000:
  c = a + b
  a = b
  b = c
  fib.append(c)
for i in fib :
  if i % 2 == 0:
    toplam += i
toplam

In [12]:
sum_fib = 0
fibo = []
a = 1
b = 0
c = 0
while c < 4000000 :
  c = a + b
  a = b
  b = c
  fibo.append(c)

for i in fibo :
  if i % 2 == 0 :
    sum_fib += i
   

print(fibo)
print(sum_fib)
print(len(fibo))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]
4613732
34